.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#parent {
  display: flex;
}

#opacity {
  opacity: 1;
}

.aside-nav{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  padding: 20px 50px 35px;
  background: #a47fc9;
}

.App-header {
  flex: 1;
  position: relative;
  top: 0;
  z-index: 999;
  height: 50px;
  width: 150px;
  background: #a47fc9;  
}

.page-header {
  max-width: 1100px;
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #131638;
  text-decoration: none;
  text-align: center;
}

.logo-header {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 105px;
}

.aside-right {
  flex: 1;
  margin-left: 268px;
  padding: 0 45px;
  background: white; 
}

.container {
  margin-right: auto;
  margin-left: -150px;
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
}
}

.space {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px; 
  text-align: left; 
}

.page-title {
  font-family: "Domine",Georgia,serif;
  font-size: 2.2rem;
  color: #002d6b;
  line-height: 4rem;
  font-weight: 700;
}  

.sub-title {
  font-size: 1.1rem;
  color: #002d6b;
  line-height: 2.6rem;
  font-weight: 500;
}

.space h1 {
  margin-top: 20px;
  margin-bottom: -10px;
}

.space h2 {
  margin-bottom: 10px;
  width: 100%;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0.7rem;
  font-family: "Domine",sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #002d6b;
}

.main-page {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-left: 80px;
  max-width: 850px;
}

.name-full-fields,
.address-full-fields,
.coming-from-fields,
.email-number-full-fields,
.family-status-full-fields {
  display: flex;
  flex-direction: row;  
  width: 100%;
  margin-bottom: 10px;  
}

.first-name-field,
.last-name-field,
.address-field,
.city-field,
.nationality-field,
.sex-status-field,
.date-birth-field,
.email-address-field,
.phone-number-field,
.phone-field,
.civil-status-field,
.kids-status-field {
  flex-grow: 1;
  margin-right: 10px;  
  margin-bottom: 5px;
}

.name-full-fields label,
.address-full-fields label,
.coming-from-fields label,
.email-number-full-fields label,
.family-status-full-fields label{
  display: inline-block;
  color: #002d6b;
  flex-grow: 1;
}

.name-full-fields .form-name,
.address-full-fields .form-name,
.coming-from-fields .form-name,
.email-number-full-fields .form-name,
.family-status-full-fields .form-name {
  display: block;
  padding-bottom: 8px;
  color: #002d6b;
  width: 100%; 
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #eaeaea;
  border-radius: 3px;
  margin-top: 5px;
}

.address-field .form-name {
  margin-right: 80px;
}

.coming-from-fields .date-birth-field {
  width: 100%;
  display: flex;
}

.date-birth-sex-field {
  flex-grow: 1;
}

.date-selector, .month-selector, .year-selector {
  flex-grow: 1;
  margin-right: 10px;
}

.phone-field {
  margin-top: 19px;
}

.phone-field input[type=text] {
  height: 48px;
}

.phone-field {
  width: 10%;
}

.phone-number-field {
  width: 15%;
}



